//Desktop size

$desktop-width: 1440px;
$desktop-height: 1540px;

//Frame size

$desktop-frame-size-width: 270px;
$desktop-frame-size-height: 176px; 
$tablet-frame-size-width: 203px; 
$tablet-frame-size-height: 128px;
$phone-frame-size-width: 143px; 
$phone-frame-size-height: 96px;    


//Colors

$background-color: linear-gradient(140deg, rgba(253, 253, 253, 0.35) -0.3%, rgba(253, 253, 253, 0.10) 99.01%);
$backdrop-filter: blur(12.5px);
$color1:#949494;
$color2: #444444;
$color3: #121221;
$color-wight: #f8f8f8;
$color-frame: #c4c4c4;

//Fonts 

$font1: 'Playfair Display', serif;
$font2: "Roboto", sans-serif;

//Fonts sizes

$font-size-1: 12px;
$font-size-2: 16px;
$font-size-3: 18px;
$font-size-4: 24px;
$font-size-5: 32px;
$font-size-6: 36px;
$font-size-7: 48px;
